# [`tuple`](https://docs.python.org/3/library/stdtypes.html#tuples) and [`set`](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

# `tuple`

Tuple is a collection which is ordered and unchangeable. Allows duplicate members. In Python tuples are written with round brackets.

For more on tuples click [here](https://www.w3schools.com/python/python_tuples.asp).

## creating a tuple

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Accessing the elements of a tuple

In [2]:
print(thistuple[1])

banana

In [3]:
# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

print(thistuple[-1])

cherry

In [4]:
# You can specify a range of indexes by specifying where to start and where to end the range. 
# When specifying a range, the return value will be a new tuple with the specified items.

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## Tuples are immutable

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [5]:
# this will not work - 

thistuple = ("apple", "banana", "cherry")
thistuple[1] = "pear"

TypeError: 'tuple' object does not support item assignment

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [6]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Looping through a tuple

In [7]:
# this works just like looping through a list

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## Compare a List and a Tuple

In [8]:
# Run following statements one at a time to understand how lists and tuples are similar and different

dir(list)
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# `set`

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

For more on sets click [here](https://www.w3schools.com/python/python_sets.asp).


## Create a set

In [9]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

## Accessing items in a set

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## Changing items in a set

Once a set is created, you cannot change its items, but you can add new items.


## Adding items to the set

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'cherry', 'orange', 'apple', 'banana', 'mango'}

## Remove items

To remove an item in a set, use the remove(), or the discard() method.

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

## remove() will raise an error if item is not found

{'apple', 'cherry'}

In [15]:
## discard() will not raise an error if item is not found

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
# Like other collections you can use pop() to get the last element - 

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

## Set operations

All the set operations are available as methods

### Union

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

### Intersection

In [18]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, "a", "b"}

set3 = set1.intersection(set2)
print(set3)

{'b', 'a'}